php_value upload_max_filesize 16M
php_value post_max_size 20M

RewriteEngine on

RewriteCond %{REQUEST_URI} !^/web
RewriteRule ^(.*)$ web/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ web/index.php [L]