section#content .title {
    padding-top: 40px;
    background: #aaaaaa;
    text-align: center;
    font-size: 60px;
    line-height: 50px;
    font-family: "ForTitle", Arial, sans-serif;
}

section#content .subtitle {
    background: #aaaaaa;
    text-align: center;
    font-size: 20px;
    padding-bottom: 60px;
}

